*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
   }
   
   body{
       font-family: 'Montserrat',sans-serif;
       min-height: 100vh;
       color : #555;
   }

   .header
   {
   background-image: linear-gradient(rgba(251, 147, 237, 0.5),rgba(122, 255, 184, 0.5)),url(header.jpg);
   height: 100vh;
   background-size:cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: sans-serif;
   }
   h1{
       color:black;
       margin-bottom: 70px;
       font-size: 45px;
       letter-spacing: 2px;
       font-weight: 600;
   }
   .search-field{
       height: 50px;
       padding: 10px;
       border: none;
       border-radius: 25px;
       outline: none;
       width: 400px;
   }
   
   .header .about_btn a{
      text-decoration: none;
      cursor: pointer;
      border: none;
   
      color: black;
      font-size: 22px;
      font-weight: 300;
      margin: 0%;
      padding: 0;
      
    }
    button{
        text-align:top;
        align-items:flex-start;
        border: 0;
        border-radius: 8px;
    padding: 0;
    background-color: rosybrown;
}

   .form-box
   {
   background:rgba(0,0,0,0.5);
   padding: 20px;
   border-radius: 10px;
   }
   
   
   
   
   h2{
       text-align: left;
       margin-top: 50px;
       font-size: 30px;
   
   }
   .products{
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(350px,auto));
       grid-gap: 50px;
       margin: 50px auto;
       max-width: 1240px;
       padding: 20px;
   }
   
   
   .product{
       padding: 10px;
       box-shadow:0 5px 5px rgba(0,0,0,0.2) ;
   
   }
   
   .frame {
       height: 200px;
       background: transparent no-repeat center;
       background-size: cover;
       width: 100%;
       border-radius: 8px;
   
     }
   .product .category
   {
    text-align: left;
   font-weight: 600;
   }
   .product .brand
   {
   text-align: center;
   font-size: large;
   background-color: cadetblue;
   border-radius: 6px;
   color: #fff;
   }
   
   .product .title{
       text-align: center;
       padding-top: 30px;
       padding-bottom: 20px;
       font-weight: 600 ;
       text-transform: uppercase;
   }
   
   .product .description{
       text-align: center;
       padding: 0 20px 20px 20px ;
       line-height: 22px;
   }
   .product .price{
       text-align: center;
       font-weight: 600;
       font-size: 20px;
       text-shadow: 0 5px 5px rgba(0,0,0,0.2);
   }